.header-right {
    height: 100%;

    .nav-item {
        display: flex;
		justify-content: center;
		position: relative;
		
        .nav-link{
            color: var(--bs-body-color);
            font-size: 1.125rem;
        }
    }
	.right-sidebar{
		margin-right:-1.875rem;
		
		a{
			height: 5rem;
			width: 5rem;
			text-align: center;
			justify-content: center;
			display: flex;
			align-items: center;
			border-left: 0.0625rem solid $light;
		}
	}
    .notification_dropdown {
        @include respond('phone-land') {
            position: relative;
        }
        .nav-link {
            position: relative;
			padding: 0.8375rem;
			line-height: 1;
			
            i {
                font-size: 1.5rem;
				
				@include respond('laptop') {
					font-size: 1.125rem;
				}
            }
			svg{
				path,
				circle{
					body:not([data-headerbg="color_1"]) &{
						stroke: #fff;
					}
				}
				@include respond('phone') {
					width: 1.25rem;	
					height: 1.25rem;
				}
			}
			&:hover{
				background: rgba(var(--bs-primary-rgb), 0.1);
				
				svg{
					path,
					circle{
						stroke: var(--bs-primary);
					}
				}
			}
            
        }
        .dropdown-item {
            &:focus,
            &:active {
                a {
                    color: $white;
                }
            }
            a {
                color: $dark;
				
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .dropdown-menu {
		
        @at-root [data-theme-version="dark"] & {
            box-shadow: none;
        }
		@include respond ('tab-land'){
			&:after{
				content:none;
			}
		}
    }
	.header-border{
		border-right:1px solid rgba(255,255,255,0.12);
		margin-left:12px;
		padding-right: 24px;
		
		&:hover{
			background:transparent;
		}		
		@include respond ('laptop'){
			margin-left:1.875rem;
		}
		@include respond ('phone'){
			display:none;
		}
		
	}
	.blur-img{
		position: absolute;
		left: 27%;
		top: 0;
		filter: blur(554px);
	}
}

.notification_dropdown {
    .dropdown-menu-end {
		min-width: 18.5rem;
		top: 100%;
		
		&.show{
			overflow: unset;
		}
        .notification_title {
            background: var(--bs-primary);
            color: $white;
            padding: 0.625rem 1.25rem;
            h5 {
                color: $white;
                margin-bottom: 0.1875rem;
            }
        }
        .media {
			width: 2.8125rem ;
			height: 2.8125rem ;
			font-size: 1.125rem ;

            &>span {
                width: 2.1875rem;
                height: 2.1875rem;
                border-radius: 3.125rem;
                display: inline-block;
                padding: 0.4375rem 0.5625rem;
                margin-right: 0.625rem;
				
                &.success{
                    background: var(--bs-success-subtle);
                    color: var(--bs-success);
                }
                &.primary {
                    background: var(--bs-primary-subtle);
                    color: var(--bs-primary);
                }
                &.danger {
                    background: var(--bs-danger-subtle);
                    color: var(--bs-danger);
                }
            }
            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 12.5rem;
                margin-bottom: 0;
                margin-top: 0.3125rem;
				
				@include respond('phone') {
				    max-width: 6.25rem;
				}
            }
        }
        .all-notification {
            display: block;
            padding: 0.9375rem 1.875rem 14px;
			color:var(--bs-primary);	
            text-align: center;
			border-top: 0.0625rem solid #f1f1f1;
			font-size:0.813rem;
				
            i {
                margin-left: 0.625rem;
            }
        }
		@include respond ('phone-land'){
			right:0;
			top:45px;
			transform:translateX(0);
			padding-right:0;
			width: 18rem;
			display:none!important;
			border-radius: var(--bs-border-radius);
			&.show{
				display:block!important;
			}
		}
		@include respond ('phone'){
			min-width: 18.5rem;
			right: -4rem;
		}
    }
}
[data-container="boxed"] {
	.search-area{
		display:none!important;
	}
}
[data-headerbg="color_1"]{
	.header{
		.header-content{
			border-bottom: 1px solid var(--bs-border-color);
		}
	}
}

/* Header Profile Dropdown */
.header-profile-dropdown{
	.profile-head{
		display: flex;
		gap: 8px;
		align-items: center;
		
		.profile-media{
			width: 30px;
			min-width: 30px;
			height: 30px;
			border-radius: 50%;
			overflow: hidden;
			
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.author-name{
			font-size: 0.813rem;
			margin-bottom: 0;
			display: block;
			line-height: 1.2;
		}
		small{
			font-size: 10px;
			display: block;
			
			body:not([data-headerbg="color_1"]) &{
				color: #fff;
			}
		}
		.header-info{
			@include respond ('phone'){
				display: none;
			}
		}
	}
	.dropdown-menu{
		width: 225px;
	}
}

/* DZ Fullscreen */
.dz-fullscreen{
	#icon-minimize{
		display:none;
	}
	&.active{
		#icon-full{
			display:none;
		}
		#icon-minimize{
			display:inline-block;
		}
	}
}