////////////////
// Compact Nav
////////////////
@media (min-width:47.9375rem) {
    [data-sidebar-style="compact"] {
		.nav-header {
			width: 11.25rem;
		}
		.deznav .metismenu .has-arrow[aria-expanded=true]:after, .deznav .metismenu .mm-active > .has-arrow:after{
			margin-right:0;	
		}
        .deznav {
            .nav-user{
                display: none;
            }
            .metismenu{
                li {
                    text-align: center;
					
					a {
                        padding: 0.7rem 0.5rem;
						
						svg{
							margin-right: 0.0125rem;
							margin-top: -1.3875rem;
						}
						.menu-icon{
						    display: block;
							padding: 0;
							background-color:rgba(13, 153, 255, 0.05);
							color: rgba(0, 0, 0, 0.3);
							width: 3.125rem;
							height: 3.125rem;
							line-height: 3.125rem;
							border-radius: var(--bs-border-radius);
							line-height: 4.25rem;
							margin-left: auto;
							margin-right: auto;
							margin-bottom: 0.3125rem;
							
						}
						i{
							@include transitionMedium;
						}
                    }
					ul:after{
						content:none;
					}
					
					& > a{
						box-shadow: none;
						font-size: 0.813rem;
					}
                }
            }
			.copyright{
				display: none;
			}
			.copyright{
			    padding: 0 1.25rem;
				margin-top: 1.25rem;
			}
			.sidebar-info{
				display:none!important;	
			}
			.feature-box,
			.support-box,
			.help-desk{
				display:none;
			}
        }
        .nav-text {
            display: inline-block;
            margin-top: 0.3125rem;
			font-size:0.813rem;
        }
        .nav-label {
            &.first{
                display: none;
            }
        }
        .nav-badge {
            display: none;
        }

        .footer {
            padding-left: 12.5rem;
        }

        .content-body {
            margin-left: 10.5rem;
        }
		
		&[data-theme-version="dark"]{
			&[data-layout="horizontal"]{
				.deznav {
					.metismenu {
						 li {
							&>a i{
								color:$white;
							}
						 }
					}	
				}
			}
            &[data-layout="vertical"]{
                .deznav {
                    .metismenu {
						li {
							&.mm-active{
                                 &>a i{
                                   background: var(--bs-primary);
                                    color:$white;
                                }
                             }
                         }
                    }
                }
            }
		}
		&[data-layout="vertical"]{
			.deznav {
				.metismenu {
					 li {
						&:hover{
							&>a i{
								background: rgba(var(--bs-primary-rgb), 0.1);
								color: var(--bs-primary);
							}
						}	
					 }
				}	
			}
		}
    }
}
[data-layout="horizontal"][data-sidebar-style="compact"] {
	.footer {
		padding-left: 0;
	}
	.content-body {
		margin-left:0;
	}
	.deznav{
		margin-bottom:0;
	}
	.header {
		padding-left: 18.563rem;
	}
	.nav-header {
		width: 18.563rem;
		.brand-logo {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}
}
[data-layout="vertical"][data-sidebar-style="compact"] {
    .deznav {
        width: 11.25rem;
		padding-top: 1rem;
        
        .metismenu {
		
            ul{
				margin-left:0;
				border:0;
				background: rgba(0,0,0,0.02);
				padding: 0.625rem 0;
				
				@at-root [data-theme-version="dark"]#{&} {
					background:(255, 255, 255, 0.05);
				}
					
				a{
					&:before{
						content:none;
					}
				}
				
				ul a {
					padding: 0.625rem 0.9375rem;
					
				}
            }

            &>li {
				&>a{
					padding:0.9rem 0.5rem;
				}
                &>a.has-arrow::after {
                    top: 0.0625rem;
					display: inline-block;
					right: auto;
					margin-left: 0.3125rem;
					position: relative;
					width: 0.4375rem;
					height: 0.4375rem;
					border-width: 0.125rem 0rem 0rem 0.125rem;
                }
				&.mm-active {
					&>a {
						background:transparent;
						color:var(--bs-primary);
					}
				}	
            }
        }

    }
}