////////////////////
// Horizontal Nav
////////////////////
@media (min-width: 64rem) {
    [data-layout="horizontal"] {
		.deznav .metismenu > li > ul {
			.extra-menu-li{
				&:hover{
					.extra-menu-links{
						display:block!important;
						position: relative!important;
						top:12px!important;
						left: 0 !important;
						right: auto !important;
					}
				}
				.extra-menu-links{
					position:relative;
					top:12px!important;
					left:0!important;
					padding:0!important;
					overflow:hidden;
					right:auto!important;
					box-shadow:none;
					display:block!important;
					&:not(.show){
						height:0;
					}
					li{
						a{
							padding: 1rem 1.25rem 1rem 1.25rem!important;
						}
					}
				}
			}
		}
		
        .nav-header {
            height:3.125rem;
            width: 18.563rem;
			top:0;
			z-index:7;
            .nav-control {
                display: none;
            }

            .brand-logo {
				padding-left: 2.5rem;
				padding-right: 2.5rem;
            }
        }

        .header {
            width: 100%;
			height: 3.125rem;
            padding-left: 18.563rem;
			padding-top:0;
			z-index: 6;
        }

        .deznav {
            width:100%;
            position: relative;
            height: auto;
            padding-bottom: 0;
            top: 0;
            z-index: 5;
			
            .slimScrollDiv {
                overflow: visible!important;

                .deznav-scroll {
                    overflow: visible!important;
                }
            }
			.deznav-scroll {
				overflow: visible!important;
			}
            .slimScrollBar {
                display: none !important;
            }
			.nav-user,
            .nav-label {
                display: none;
            }
			
            .metismenu {
                flex-direction: row;
				padding: 0.8rem 1.25rem;
				margin-bottom: 0;
                display: inline-flex;
                flex-wrap: wrap;	
                .collapse.in {
                    display: none;
                }
				ul{
					border-left:0;
					@at-root [data-theme-version="dark"]#{&} {
					   box-shadow: 0rem 0rem 2.5rem 0rem rgba(82, 63, 105, 0.1);
					}
				}
                li {
                    flex-direction: column;
                    position: relative;
					margin-top: -12px;

                    &:hover {
                        &>ul {
                            display: block;
                        }
                    }
                    
                    &>ul{
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        min-width: 13.75rem;
                        z-index: 999;
                        left: auto;
                        right: auto;
						padding : 1.2rem 0 0.5rem;
						display: none;
                        box-shadow: 0rem 0rem 2.5rem 0rem rgba(82, 63, 105, 0.1);
						margin:0;
						background: $white;
                        border-radius: var(--bs-border-radius);
							
                        @at-root [data-theme-version="dark"]#{&} {
                           box-shadow:0rem 0rem 2.5rem 0rem rgba(82, 63, 105, 0.1);
						   background: $dark-card;
                        }
                        li {
                            padding: 0;
    
                            a {
                                transition: all .4s ease-in-out;
                                padding: 1rem 1.25rem 1rem 1.25rem;
                                margin-left: -.1rem;
								
                                &:hover {
                                    border-radius: .4rem;
									padding-left:1.25rem;
                                }
								&:before{
									content:none;
									left: 1.375rem;
								}
                            }
							svg{
								width:0.938rem;
								height:1rem;
							}
                        }
						.menu-title{
								display:none;
						}
                        
                        ul{
                            left: 100%;
                            top: 0;
							box-shadow: 0rem 0rem 2.5rem 0rem rgba(82, 63, 105, 0.1);
                        }
                    }
                }

                &>li {
                    flex: 0 0 auto;
                    position: relative;
                    &>a i{
						margin-right:0.3125rem;
					}
					@at-root [data-theme-version="dark"]#{&} {
						border-color: rgba(255,255,255,0.07);		
						
						&.mm-active{
							border-color:transparent;
						}
						
						
					}
					&:hover,
					&.mm-active{
						padding:0;			
						& > a{
							color:var(--bs-primary);
							
							i{
								color:$white;
								background:transparent;
								box-shadow:none;
							}
							
							
						}
						ul{
							li{
								&>a {
									&:after {
									transform:rotate(-225deg) translateY(-50%);
									}
								}
							}
						}
					}
                    &>a {
						padding: 0.65rem 0.3375rem 0.65rem 0.3375rem;
						margin: 0.125rem 0.125rem;
						
                        i{
                            padding: 0 0.4375rem 0 0;
							height:auto;
							width:auto;
							line-height:1;
                        }
                        .nav-badge {
                            display: none;
                        }
                        &:after {
                            right: 1.25rem;
                            transform: rotate(-135deg) translateY(-50%);
							display:none;
                        }
                    }
                    &:hover {
						border-color:transparent;
						
                        & > ul {
                            display: flex !important;
                            flex-direction: column;
                            flex-wrap: wrap;
                            height: auto !important;
							box-shadow: 0.3125rem 0.3125rem 1.875rem 0rem rgba(20, 0, 30, 0.1);
							border-radius: var(--bs-border-radius);
							
							@at-root [data-theme-version="dark"]#{&} {
								box-shadow: 0.3125rem 0.3125rem 1.875rem 0rem rgba(0, 0, 0, 0.1);
								background:$dark-card;
							}
                        }
                    }
                    &>ul {
                        &>li {
                            &:hover {
                                ul.collapse {
                                    display: block!important;
                                    position: absolute;
                                    left: auto!important;
                                    right: -100%!important;
                                    top: 0!important;
                                }
                            }
                        }
                    }
                    &:nth-last-child(-n + 5) {
                        &>ul {
                        left: auto;
                        right: 0;
                            &>li {
                                &:hover {
                                    ul.collapse {
                                        right: auto!important;
                                        left: -100%!important;
                                    }
                                }
                            }
							&.left{
								left:0;
								&>li {
									&:hover {
										ul.collapse {
											left: 100%!important;
										}
									}
								}
							}
                        }
                    }
                    &:last-child {
                        &>ul {
                            ul {
                                left: -100%;
                            }
							&.left{
								ul{
									left: 100%;
								}
							}
							
                        }
                    }
                }
				.menu-title{
					display:none;
				}
            }
			.copyright,
			.plus-box,
			.help-desk{
				display:none;
			}
        }
		
        .content-body {
            margin-left: 0;
			.container-fluid{
				padding-top: 1.875rem;
			}
        }
        .footer {
            margin-left: 0;
            margin: 0 auto;
            padding-left: 0;
        }
    }

    [data-header-position="fixed"][data-layout="horizontal"] {
        .deznav {
            top: 3.125rem;
        }
		.header{
			height: 3.125rem;
		}
		.content-body {
			padding-top: 3.125rem;
		}
    }
    [data-header-position="fixed"][data-sidebar-position="fixed"] {
        .deznav {
            position: fixed;
        }
    }
    [data-header-position="fixed"][data-layout="horizontal"][data-sidebar-position="fixed"] {
        .content-body {
            padding-top: 6.525rem;
        }
    }
	[data-header-position="fixed"][data-layout="horizontal"][data-sidebar-position="fixed"][data-sidebar-style="modern"] {
        .content-body {
           padding-top: 8.025rem;
        }
    }
    [data-layout="horizontal"][data-container="boxed"] {
		.content-body {
            padding-top: 12rem! important;
        }
        .footer {
            margin-left: 0;
            max-width: 74.9375rem;
            margin: 0 auto;
        }
    }
    [data-layout="horizontal"][data-sidebar-style="compact"] {        
        .deznav {
            .metismenu {
	
                &>li {
                    &>ul {
                       top: 6rem;
                    }
                    &>a {
						
                        padding: 1.125rem 1.25rem 0.625rem 1.25rem;

                        &::after {
                            display: none;
                        }
						.nav-text{
							margin-top: 0.3125rem;
						}
						&>i{
							width:auto;
							margin:0;
							height:auto;
							line-height:1;
							padding:0;
							background:transparent;
							border-radius: 0;
							margin-bottom: 0;
						}
                    }
                    li {
                        text-align: left;
                    }
					&.mm-active{
						a{
							background:transparent!important;
						}
					}
                }
            }
        }
    }
    [data-sidebar-style="mini"][data-layout="horizontal"] {
        .nav-header {
            width: 7.75rem;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
			
			    .brand-logo {
				    justify-content: start;
					padding-left: 0;
					padding-right: 0;
				}
        }
    
        .header {
            width: 100%;
            padding-left: 7.75rem;
        }

        .metismenu {
            &>li {
				a{
					width: auto;
				}
                &:hover {
                    a {
                        .nav-text {
                            display: none;
                        }
                    }
                }
            }
        }
    }
	[data-header-position="fixed"][data-layout="horizontal"][data-sidebar-position="fixed"][data-sidebar-style="compact"] {
        .content-body {
            padding-top: 11.125rem;
        }
    }
    [data-sidebar-position="fixed"][data-layout="horizontal"] {
        .deznav.fixed {
            position: fixed;
			left: 0;
            top: 0;
			border-radius:0;
			width:100%;
        }
    }
	[data-sidebar-position="fixed"][data-header-position="fixed"][data-layout="horizontal"] {
        .deznav.fixed {
            position: fixed;
            left: 0;
			top: 80px;
			border-radius:0;
			width:100%;
        }
    }
}