@include custommq($min: 48rem) {

    [data-sidebar-style="mini"] {
        
        .nav-header {
            width: 3.71rem;

            .nav-control {
                z-index: -1;
                .hamburger{
                    left: 6.25rem!important;
                    .line{
                        background-color: $dark!important;
                    }
                }
            }
            .brand-title {
                display: none;
            }
            .hamburger {
                display: none;
            }
        }
		.header .header-content{
			padding-left: 1.875rem;
		}
        .deznav {
            width: 3.75rem;
            overflow: visible;
            position: absolute;
			z-index:2;
			
			.copyright{
				display:none;
			}
            .nav-text {
                display: none;
            }
            .deznav-scroll {
                overflow: visible !important;
            }
            .nav-user{
                padding: 0.6875rem;
                .media-body{
                    display: none;
                }
            }
			.metismenu {
               li {
			   
                    a {
                        padding: 0.813rem 0.875rem;
						 svg{
							margin-right:0;
						 }
						 i{
							height:auto;
							width:auto;
							line-height:1;
							margin:0;
						 }
                    }

                    &>ul {
                        position: absolute;
                        left: 6.25rem;
                        top: 2.9375rem;
                        width: 11.875rem;
                        z-index: 1001;
                        display: none;
                        padding-left: 0.0625rem;
                        box-shadow: 0rem 0rem 2.5rem 0rem rgba(82, 63, 105, 0.1);
                        height: auto !important;
						border-radius: var(--bs-border-radius);
						background: #fff;
                    }
                }
                &>li {
					&>a {
						padding: 0.725rem 0.775rem;
						text-align: center;
						margin: 3px 0px;
						line-height: 1;
						transition: all 0.5s;
						-moz-transition: all 0.5s;
						-webkit-transition: all 0.5s;
						-ms-transition: all 0.5s;
						-o-transition: all 0.5s;
						
						& > i{
						padding:0;
						font-size:1.375rem;
						}
                        &.has-arrow {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
					.menu-title{
						display:none;
					}
                .nav-label,
                .nav-badge {
                    display: none;
                }
            }
			.sidebar-info{
				display:none!important;	
			}
			.help-desk{
				display:none;
			}
        }

        .content-body {
            margin-left: 3.8rem;
        }
		&[data-header-position="fixed"] {
			.content-body{
				padding-top:3.1rem;
				@include custommq($max: 63.9375rem){
					padding-top:3.1rem;
				}
			}
		}	
    }

    [data-sidebar-style="mini"][data-layout="vertical"] {
        .deznav {
			position: absolute !important;
            .metismenu {
				.has-arrow[aria-expanded=true]:after,
				.mm-active>.has-arrow:after {
					-webkit-transform: rotate(-225deg) translateY(-50%)! important;
					transform: rotate(-225deg) translateY(-50%)! important;
				}
				li {
                    &:hover>ul {
                        display: block;
                    }
                }

                &>li {

                    &:nth-last-child(-n + 1) {
                        &>ul {
                            bottom:0;
                            top: auto !important;
							&:after{
								top:auto;
								bottom:1.25rem;
							}
                        }
                    }

                    @include respond('tab-land') {
                        &:nth-last-child(-n + 1) {
                            &>ul {
                                bottom: 0;
                                top: auto !important;
                            }
                        }
                    }

                    &>ul {
                        overflow: visible;
						
						&:after{
							content:none;
						}

                        li:hover {
                            ul {
                                padding: 0.625rem 0;
								width: 13rem;
								left: 13rem;
								top: -0.625rem;
								border: 0;
								margin: 0;
								
								&:after{
									content:none;
								}			
                            }
                        }
                    }
					&.mm-active {
						&>a {
							background: rgba(13, 153, 255, 0.05);
							color:$white;
							
							i{
								color:$white;
							}
						}
					}
                    &:hover {


                        &>a {
                            background-color: rgba(13, 153, 255, 0.05);
							color:var(--bs-primary);
							border-radius: 0;
							position: unset;
							i{
								color:$white;
							}
                        }
                        &>ul {
                            height: auto !important;
                            overflow: visible;
							border:0;
							margin-left:0;
							left:3.75rem;
							width: 13rem;
							border:0;
							padding: 0.625rem 0;
							top: 0px;
							
							@at-root [data-theme-version="dark"]#{&} {
								box-shadow: 0rem 0rem 2.5rem 0rem rgba(82, 63, 105, 0.1);
							}
							a {
                                padding: 0.375rem 1.25rem 0.375rem 1.25rem;
                               
							    &:before{
									content:none;
								}
								&.has-arrow:after{
									right: 1.25rem
								}
                            }
							
                            ul {
								
								
								a {
									padding: 0.375rem 1.25rem 0.375rem 1.25rem;
									margin-left: -0.1rem;
									&:before{
										content:none;
									}
								}
                            }
                        }
                    }
                }
            }
        }
    }

    [data-sidebar-style="mini"][data-header-position="fixed"][data-container="boxed"][data-layout="vertical"] {
        .header {
            width: 74.9375rem;
        }
    }
	
	[data-sidebar-style="mini"][data-layout="horizontal"] {
		.deznav{
			.metismenu {
				
				& > li{
					padding: 0;
					
					& > a {
						padding: 0.725rem 0.775rem;
						
						i{
							padding: 0;	
							margin:0;
						}
						svg{
							margin-right: 0;
							margin-top: 0;
						}
					}
					& > ul li a{
					    padding: 1rem 1.25rem 1rem 1.25rem;
					}
				}
			}
		}
	}

}

@include respond('tab-land') {
    [data-sidebar-style="mini"] {
        .deznav {

            li {
                &.mm-active {
                    ul {
                        height: auto !important;
                    }
                }

                a.has-arrow {
                    &::after {
                        transform: rotate(-225deg) translateY(-50%);
                    }
                }
            }
        }
    }
}