///////////////////////////
// Nav Profile
///////////////////////////
.nav-label {
    margin: 0.625rem 1.875rem 0;
    padding: 1.5625rem 0 0.625rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    border-top: 0.0625rem solid var(--bs-border-color);
	color: var(--bs-light);
	
    &.first{
        border: 0rem;
        margin-top: 0rem;
    }
}
.nav-badge {
    position: absolute;
    right: 2.8125rem;
    top: 0.625rem;
}
.content-body {
	margin-left: 15rem;
    z-index: 0;
    transition: all .2s ease;
	
	@include respond ('phone-land'){
		padding-right:0rem;
	}
}

///////////////
// Sidebar
//////////////
.deznav {
    width: 15rem;
    padding-bottom: 10px;
    height: calc(100% - 3.125rem);
    position: absolute;
    top:3.125rem;
    padding-top: 1rem;
    z-index: 6;
    background-color: var(--sidebar-bg);
	border-right:1px solid var(--bs-border-color);
    transition: all .2s ease;
	box-shadow: 0rem 0.9375rem 1.875rem 0rem rgba(0, 0, 0, 0.02);
	
    .deznav-scroll{
        position: relative;
		height:100%;
		overflow-y: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;
		
		&::-webkit-scrollbar {
			display: none;
		}
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .metismenu {
        display: flex;
        flex-direction: column;
		
        &.fixed {
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
        }
        &>li {
            display: flex;
            flex-direction: column;
            
			a {
                &>i{
                    font-size: 1.375rem;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    top: 0;
					height:auto;
					width:auto;
					text-align:center;
					margin-right: 0.65rem;
					border-radius: 0.125rem;
					line-height:1;
					border-radius: var(--bs-border-radius);
					font-family: 'Material Icons';
					font-style: normal;
					-webkit-font-feature-settings: 'liga';
					-webkit-font-smoothing: antialiased;
					font-weight: normal;
					
					@at-root [data-sidebar-style="compact"] & {
						display:block;
						padding:0;
						background: rgba(0,0,0,0.05);
						color:rgba($black,0.3);
						width: 3.25rem;
						height: 3.25rem;
						border-radius: 0.625rem;
						line-height: 3.45rem;
						margin-left: auto;
						margin-right: auto;
						margin-bottom: 0.3125rem;
					}
					@include custommq($max:84.375rem) {
						height:auto;
						line-height:0.0625rem;
						width:auto;
						font-size: 1.5rem;
						padding: 0;
						color: #969BA0;
					}
                }
            }
            &>a {
				font-weight: 400;
				display: inline-block;
				font-size: 0.813rem;
				color: var(--bs-secondary);
				
				i{
					color: #96A0AF;
				}
				svg {
					height: 100%;
					margin-right: 0.4125rem;
					margin-top: -0.0875rem;
				}
				.menu-icon {
					display: inline-block;
					vertical-align: middle;
					position: relative;
					height: auto;
					width: auto;
					text-align: center;
					border-radius: 0.125rem;
					line-height: 1;
					border-radius: 0.125rem;
				}
				g [fill] {
					fill: #8088a1;
				}
            }
            &:hover,
			&:focus {
				
                &>a {
                    color: var(--bs-primary);
					g [fill] {
						fill: var(--bs-primary);
					}
                }
            }
            &.mm-active {
				&>a {
					color:var(--bs-primary);
					background-color: rgba(var(--bs-primary-rgb), 0.05);
					font-weight: 400;
					
					i{
						font-weight:900;
						color: var(--bs-primary) !important;
					}
					.menu-icon{
						svg{
							path{
								stroke: var(--bs-primary);
							}
						}
					}
					
					g [fill] {
						fill: var(--bs-primary);
					}
					&:after{
						border-top: 0.3125rem solid var(--bs-primary);
						border-left: 0.3125rem solid var(--bs-primary);
						top: 44%;
						border-width:1px;
					}
				}
				@at-root [data-sidebar-style="compact"] & {
					&>a{
						
						i{
							background:var(--bs-primary);
							color:$white !important;
						}
						 
					}
				}
            }
        }
        li {
            position: relative;
        }
		.menu-title{
			font-size:0.75rem;
			font-weight:400;
			padding:8px 0px 10px 20.6px;
			color:var(--bs-primary);
			&:not(:first-child){
				margin-top: 10px;
			}
		}
		
        //one step dropdown
        ul {
            transition: all .2s ease-in-out;
			position:relative;
			z-index: 1;
			padding: 0.5rem 0;
				
            a {
				padding-top: .5rem;
				padding-bottom: .5rem;
				position: relative;
				font-size:0.813rem;
				padding-left: 2.5rem;
				@include transitionMedium;
				@include custommq($max: 84.375rem) {
					padding-left: 3.8rem;
				}
				@include respond('phone-land') {
					padding-left: 3.4rem;
					font-size: 0.875rem;
				}
				@at-root [data-sidebar-style="full"] & {
					&:before{
						content: "";
						height: 0.125rem;
						width: 0.375rem;
						background: rgba(var(--bs-primary-rgb), 0.5);
						position: absolute;
						left: 1.8rem;
						top: 50%;
						transform: translateY(-50%);
						@include transitionMedium;
					}
					&:hover{
						padding-left: 3.2rem;
						
						&:before{
							width: 1rem;
						}
					}
				}
                &:hover,
                &:focus,
                &.mm-active {
                    text-decoration: none;
                    color: var(--bs-primary);
                }
				&:before{
					position:absolute;
					content:none;
					height:0.125rem;
					width:0.5rem;
					top:50%;
					left:1.75rem;
					border-radius:3.75rem;
					transform: translateY(-50%);
					@include custommq($max: 84.375rem) {
						left:2.8125rem;
					}
				}
            }
            
        }
        a {
            position: relative;
            display: block;
            padding: 0.625rem 1.875rem;
            outline-width: 0;
            color: var(--bs-body-color);
            text-decoration: none;
			
			@include respond('phone-land') {
				padding: 0.625rem 1.25rem;
			}
        }
        .has-arrow {
            &:after {
                border-top: 0.3125rem solid #C8C8C8;
				border-left: 0.3125rem solid #C8C8C8;
				border-bottom: 0.3125rem solid transparent;
				border-right: 0.3125rem solid transparent;
                right: 15px;
                top: 44%;
				border-width:1px;
                -webkit-transform: rotate(-225deg) translateY(-50%);
                transform: rotate(-225deg) translateY(-50%);
				
            }
        }
        .has-arrow[aria-expanded=true]:after,
        .mm-active>.has-arrow:after {
            -webkit-transform: rotate(-135deg) translateY(-50%);
            transform: rotate(-135deg) translateY(-50%);
		}
    }
	
	.main-menu{
		padding:0.625rem 1.875rem;
		
	}
	.header-info2{
		padding: 0 20px;
		img{
			height:3.75rem;
			width:3.75rem;
			border-radius:1.25rem;
			margin-right: 1.2rem;
		}
		span{
			font-size:1.25rem;
			font-weight:500;
			color:#393939;
			@include respond ('laptop'){
				font-size:0.9rem;	
			}
		}
		i{
			margin-left:1rem;
			font-size: 1.2rem;
		}
		@include respond('laptop') {
			padding:0;	
		}
	}
	.ps__rail-y{
		left:0!important;
		opacity: 0.1;
		&:hover{
			opacity: 0.1;
		}
	}
	
}

.copyright{
	padding:0 1.875rem;
	p{
		font-size: 0.875rem;
	}
	strong{
		display:block;
		font-size: 0.875rem;
		font-weight: 500;
	}
}

.nav-header {
	@include custommq($max:63.9375rem){
		width: 5rem;
	}
}
@media (max-width:47.9375rem) {

	.brand-title {
		display: none;
	}
    .footer {
        padding-left: 0;
    }
    .deznav {
        left: 0;
		top: 3.2rem;
    }
}
.extra-menu-area{
	&+.show-more-btn .show-less{
		display:none;
	}
	&.show {
		& + .show-more-btn{
			.show-less{
				display:block;
			}
			.show-more{
				display:none;
			}
		}
	}
}


.deznav{
	display: flex;
    flex-direction: column;
	
	.deznav-footer{
		padding: 12px 12px;
		margin-bottom: -10px;
	}
	[data-sidebar-style="full"][data-sidebar-position="fixed"][data-layout="vertical"] .menu-toggle &,
	[data-layout="horizontal"] &{
		.deznav-footer{
			display: none;
		}
	}
	@include respond('tab-port') {
		[data-sidebar-style="mini"] &{
			.deznav-footer{
				display: none;
			}	
		}
	}
	@include respond('phone-land') {
		[data-sidebar-position="fixed"][data-layout="vertical"] .menu-toggle &,
		[data-sidebar-style="overlay"] &{
			.deznav-footer{
				display: block;
			}	
		}
	}
	@media only screen and (min-width: 48rem) {
		[data-sidebar-style="mini"][data-layout="vertical"] &,
		[data-sidebar-style="icon-hover"] &{
			.deznav-footer{
				display: none;
			}
		}
		[data-sidebar-style="compact"] &,
		[data-sidebar-style="modern"] &{
			.deznav-footer .btn-docs i{
				display: none;
			}
		}
		[data-sidebar-style="icon-hover"] .iconhover-toggle &{
			.deznav-footer{
				display: block;
			}
		}
	}
}