[data-sidebar-style="overlay"] {
	&[data-layout="vertical"]{
		.deznav {
			border-radius:0 0 0 0!important;
			@include respond ('phone-land'){
				border-radius:0 0 0 0!important;
			}
		}
		.nav-header {
			border-radius:0;
		}
	
	}
    .deznav {
        left: -100%;
        @include transitionMedium;

		.metismenu{
			& > li {
				& > a {
					font-size: 0.813rem;
					padding: 0.75rem 1.5rem;
					color: #7f7184;
					border-radius: var(--bs-border-radius);
					-webkit-transition: all 0.5s;
					-ms-transition: all 0.5s;
					transition: all 0.5s;
					i{
						height:auto;
						width:auto;
						line-height:1;
					}
				}
				&:hover > a{
					color:var(--bs-primary);
					i{
						color:var(--bs-primary);
					}
				}
				&.mm-active > a {
					color:var(--bs-primary);
					
					i{
						color:$white;
					}
				}
				@include respond ('phone'){
					padding:0rem 0.9375rem;
				}
				
			}
			ul a{
			    padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				position: relative;
				font-size: 0.813rem;
				padding-left: 3rem;
				
				&:before{
					left:1.5625rem;
					content: "";
					height: 0.125rem;
					width: 0.375rem;
					background: rgba(var(--bs-primary-rgb), 0.5);
					position: absolute;
					left: 1.8rem;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transition: all 0.5s;
					-ms-transition: all 0.5s;
					transition: all 0.5s;
				}
			}			
		}
		@include respond ('phone-land'){
			.metismenu{
				&>li{
					&>a{
						font-size: 0.875rem;
						padding: 0.75rem 0.875rem;
						i{
							font-size:1.125rem;
						}
					}
				}
				ul li a{
					padding-left:42px;
				}
			}
		}
    }
    .content-body {
        margin-left: 0;
    }
    .nav-header {
        position: absolute;
        .hamburger.is-active {
            left: 0;
            .line {
                background-color: var(--bs-primary);
            }
        }
    }
    .menu-toggle {
        .nav-header {
            position: absolute;
            left: auto;
        }
        .deznav {
            left: 0;
			z-index: 3;
        }
    }
    .footer {
        padding-left: 0;
    }
}

[data-sidebar-style="overlay"][data-header-position="fixed"] {
    .nav-header {
        position: fixed;
    }
}

[data-sidebar-position="fixed"][data-header-position="fixed"] {
    .nav-header {
        position: fixed;
    }
}
[data-sidebar-style="overlay"][data-nav-headerbg="color_1"]{
	.menu-toggle {
		.nav-header{
			.color-title{
				display:block!important;
			}
		}
	}
}
@include respond ('phone-land'){
	.deznav {
		left: -100%;
		&.active {
			left: 0;
		}
	}
	.content-body {
        margin-left: 0;
    }
}