<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-footer-widget">
        <div class="logo">
            <a href="#"><img src="assets/img/white-logo.png" alt="image"></a>
            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
        </div>

        <ul class="social">
            <li><a href="#" target="_blank"><i class="flaticon-facebook-letter-logo"></i></a></li>
            <li><a href="#" target="_blank"><i class="flaticon-twitter-black-shape"></i></a></li>
            <li><a href="#" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
            <li><a href="#" target="_blank"><i class="flaticon-youtube"></i></a></li>
        </ul>
    </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-footer-widget">
        <h3>خدمات</h3>

        <ul class="footer-services-list">
            <li><a href="#">محصول مهندسی</a></li>
            <li><a href="#">طراحی کاربری</a></li>
            <li><a href="#">تحلیل داده ها</a></li>
            <li><a href="#">برنامه رایانه</a></li>
            <li><a href="#">برنامه موبایل</a></li>
        </ul>
    </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-footer-widget">
        <h3>لینکهای سریع</h3>

        <ul class="quick-links-list">
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">وبلاگ</a></li>
            <li><a href="#">تماس با ما</a></li>
            <li><a href="#">پشتیبانی</a></li>
            <li><a href="#">برنامه ها</a></li>
        </ul>
    </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-footer-widget">
        <h3>تماس بگیرید</h3>

        <ul class="footer-contact-list">
            <li><span>آدرس:</span> ایران ، تهران ، میدان آزادی ، خیابان 9 شرقی</li>
            <li><span>ایمیل:</span> <a href="#">evolta@gmail.com</a></li>
            <li><span>تلفن:</span> <a href="#">44587154756</a></li>
            <li><span>فکس:</span> <a href="#">447854578964</a></li>
        </ul>
    </div>
</div>